body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('C:/Users/Aniket/Desktop/Projects/Profile/images/smooth_back.jpg');
    background-color: #1f2a36;
    background-size: cover;
    background-position: 100% 100%;
}

header {
    background-color: rgba(255, 255, 255, 0.0); /* Light transparent glossy */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Navigation styles */
nav {
    margin: 0px auto 0;
    position: center;
    width: 100%; /* Adjusted width to accommodate logos */
    height: 50px;
    background-color: rgba(52, 73, 94, 0.9); /* Light transparent glossy */
    border-radius: 8px;
    font-size: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; /* Padding for spacing */
    transition: opacity 0.5s; /* Transition for hover effect */
}

/* Logo container styles */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    margin-right: 20px; /* Space between logos */
    border-radius: 50; /* Ensure logos are not rounded */
    opacity: 0.8; /* Make logos slightly transparent for glossy effect */
    transition: opacity 0.3s; /* Transition for hover effect */
}

.logo-container img:hover {
    opacity: 1; /* Fully opaque on hover */
    box-shadow: 0 0 10px rgba(59, 56, 226, 0.7), /* Add glow effect */
                0 0 20px rgba(255, 255, 255, 0.7), 
                0 0 30px rgba(255, 255, 255, 0.7), 
                0 0 40px rgb(252, 252, 252);
}

.logo-container img:hover {
    opacity: 1; /* Fully opaque on hover */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    /* text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5), 
    0 0 15px rgba(255, 255, 255, 0.5), 
    0 0 20px rgba(255, 255, 255, 0.5); */
}

nav ul li a:hover {
    color: #ffffe0; /* Slightly lighter color on hover */
    text-shadow: 0 0 10px rgba(59, 56, 226, 0.7), /* Add glow effect */
                 0 0 20px rgba(255, 255, 255, 0.7), 
                 0 0 30px rgba(255, 255, 255, 0.7), 
                 0 0 40px rgb(252, 252, 252);
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}

.home-content {
    flex: 1;
}

.photo {
    display: flex;
    justify-content: center;
}

.photo img {
    width: 400px;
    height: 400px;
    object-fit: fill;
    border-radius: 70%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(252, 252, 253, 0.596);
    box-shadow: 0 0 15px rgb(214, 207, 207);
}

.home-content h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.home-content h1 span {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    color: #9097ffc0;
}

.home-content h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
}

.home-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

/* Resume Button Styles */
.resume-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #34495e; /* Original color */
    border: none;
    border-radius: 25px; /* Fully rounded button */
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.resume-button:hover {
    background-color: #2c3e50; /* Hover color */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

/* About Section Styles */
#about-me {
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    padding: 100px 50px; /* Adjusted padding */
    margin-top: 60px; /* To avoid overlap with fixed header */
}


.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    padding-top: 200px;
}

.about-tiles {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 150px;
}

.tile {
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.tile:hover {
    background-color: whitesmoke; /* Hover color */
    transform: translateY(-2px); /* Slight lift effect on hover */
    color: #ffffe0;
}

.tile.active {
    background-color: rgba(255, 255, 255, 0.87);
}

.tile.inactive {
    background-color: rgba(255, 255, 255, 0.3);
}

.about-content {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    position: relative;

}

.content {
    /* background-color: rgba(255, 255, 255, 0.5); */
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    color: #ffffff;
    padding: 100px 50px; /* Adjusted padding */
    margin-top: 60px; /* To avoid overlap with fixed header */
}

.content.active {
    display: block;
}

.profile-photo {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h3 {
    margin-top: 0;
}

ul {
    padding-left: 20px;
}

p {
    margin: 0;
}

/* Project Section Styles */

#projects {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 200px;
}

 .projects-heading {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-align:center;
    
 } 
.project {
    background-color: #34495e;
    border-radius: 8px;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    padding-top: 0px;

}

.project-name {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
    color: white;
}

.project-links {
    display: flex;
    justify-content: space-between;
}

.project-links a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #2c3e50;
    border-radius: 8px;
    width: 45%;
    text-align: center;
    transition: background-color 0.3s;
}

.project-links a:hover {
    text-decoration: underline;
    background-color: #1f2a36;
}




/* Contact Details Section Styles */
#contact {
    background-color: #2c3e50;
    display: inline;
    height: 100vh; /* Full viewport height */
}

.contact-heading {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;

}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: #8190b8a1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.contact-item span {
    font-size: 1.2em;
    color: #34495e;
}

.contact-item a {
    text-decoration: none;
    color: #34495e;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #2c3e50;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    padding: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
  }
  
  .contact .info-box i.bx {
    font-size: 24px;
    color: #18d26e;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    margin: 10px 0 8px 68px;
  }
  
  .contact .info-box p {
    padding: 0;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
  }
  
  .contact .info-box .social-links {
    margin: 5px 0 0 68px;
    display: flex;
  }
  
  .contact .info-box .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 12px;
    transition: 0.3s;
  }
  
  .contact .info-box .social-links a:hover {
    color: #18d26e;
  }
  
  .contact .php-email-form {
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
  }
  
  .contact .php-email-form .error-message {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.08);
    border: 0;
    transition: 0.3s;
    color: #fff;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.11);
  }
  
  .contact .php-email-form input::-moz-placeholder,
  .contact .php-email-form textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
  }
  
  .contact .php-email-form input::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #18d26e;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #15bb62;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  